<div class="container mt-5 mb-3">
    <div class="row d-flex justify-content-between">
      <div class="col-md-3">
        <div class="card p-3 mb-2">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div class="icon3"> <i class="bx bxl-mailchimp"></i> </div>
              <div class="ms-2 c-details">
                <h6 class="mb-0">Ventas</h6>
              </div>
            </div>
            <div class="badge"> <span>Design</span> </div>
          </div>
          <div class="mt-5">
            <h3 class="heading">Senior Product<br>Designer-Singapore</h3>
            <div class="mt-5">

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-3 mb-2">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div class="icon3"> <i class="bx bxl-dribbble"></i> </div>
              <div class="ms-2 c-details">
                <h6 class="mb-0">Usuarios</h6>
              </div>
            </div>
            <div class="badge"> <span>Product</span> </div>
          </div>
          <div class="mt-5">
            <h3 class="heading">Junior Product<br>Designer-Singapore</h3>
            <div class="mt-5">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card p-3 mb-2">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div class="icon3"> <i class="bx bxl-reddit"></i> </div>
              <div class="ms-2 c-details">
                <h6 class="mb-0">Ordenes de compra</h6>
              </div>
            </div>
            <div class="badge"> <span>Design</span> </div>
          </div>
          <div class="mt-5">
            <h3 class="heading">Software Architect <br>Java - USA</h3>
            <div class="mt-5">


            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row mt-4">
    <div class="col-md-5 d-flex justify-content-center">
      <canvas id="grafico1" height="450" width="500"></canvas>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 d-flex justify-content-center">
        <canvas id="grafico2" height="450" width="500"></canvas>
    </div>
  </div>
</div>