<div class="container-fluid">
  <div class="row me-1 ms-1">
    <div class="col-md-7">
      <button (click)="generarReporte()" *ngIf="this.vendedor">Reporte PDF</button>
      <button type="button" (click)="abrirmodalRegistro()" icon="pi pi-info-circle">Registrar</button>
      <p-table [value]="this.listaProductos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Viendo {first} de {last} registros, {totalRecords} registros en total"
        [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true" columnResizeMode="expand"
        styleClass="p-datatable-gridlines p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <p-autoComplete field="nombre" [(ngModel)]="buscador" [suggestions]="suggestions" (completeMethod)="filtro(buscador)">
              </p-autoComplete>
              <button type="submit" (click)="buscarProductos()">Reiniciar</button>
            </span>
            <button type="submit" (click)="exportExcel()" *ngIf="this.vendedor">Exportar a Excel</button>
            <input type="file" [(ngModel)]="excel" (change)="readExcel($event)" *ngIf="this.vendedor">
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre<br><p-autoComplete field="nombre" [(ngModel)]="buscador2" [suggestions]="suggestions" (completeMethod)="filtroNombre($event)">
            </p-autoComplete>
            </th>
            <th *ngIf="this.vendedor">Categoria<br><p-autoComplete field="nombre" [(ngModel)]="buscador1" [suggestions]="suggestions" (completeMethod)="filtroCategorias($event)">
            </p-autoComplete>
            </th>
            <th>Cantidad<br><p-autoComplete field="nombre" [(ngModel)]="buscador1" [suggestions]="suggestions" (completeMethod)="filtroCantidad($event)">
            </p-autoComplete>
            </th>
            <th>Referencia<p-columnFilter type="text" field="reference" display="menu"></p-columnFilter>
            </th>
            <th>Talla<p-columnFilter type="text" field="size" display="menu"></p-columnFilter>
            </th>
            <th>Precio por unidad<p-columnFilter type="text" field="price" display="menu"></p-columnFilter>
            </th>
            <th *ngIf="this.vendedor">Precio total<p-columnFilter type="text" field="precioTotal" display="menu"></p-columnFilter>
            </th>
            <th *ngIf="this.vendedor">Fecha de entrada<p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
            </th>
            <th *ngIf="this.vendedor">Proveedor<p-columnFilter type="text" field="proveedor.nombre" display="menu"></p-columnFilter>
            </th>
            <th>Imagen</th>
            <th *ngIf="this.vendedor"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
          <tr>
            <td>{{producto.nombre}}</td>
            <td *ngIf="this.vendedor">{{producto.type.nombre}}</td>
            <td>{{producto.quantity}}</td>
            <td>{{producto.reference}}</td>
            <td>{{producto.size}}</td>
            <td>{{producto.price}}</td>
            <td *ngIf="this.vendedor">{{producto.precioTotal}}</td>
            <td *ngIf="this.vendedor">{{producto.date}}</td>
            <td *ngIf="this.vendedor">{{producto.proveedor.nombre}}</td>
            <td><img [src]="producto.byteimagen" class="imagen1" (click)="abrirmodalimagen(producto.byteimagen,producto.nombre)"></td>
            <td class="d-flex" *ngIf="this.vendedor">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success ms-2 me-2"
                (click)="buscarProductoPorId(producto.id_producto)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="borrarProducto(producto.id_producto)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-md-5" id="grafico">
      <canvas id="graficos" height="500"></canvas>
    </div>
  </div>
</div>

<!-- Formulario para el registro de productos -->
<div class="container">
  <p-dialog [(visible)]="modalRegistro" [modal]="true" [draggable]="false" [style]="{width: '42vw'}"
    [closable]="false" [breakpoints]="{'960px': '60vw'}">
    <div class="row">
      <div class="col-11 d-flex justify-content-center">
        <h3>Registro de un producto</h3>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <button (click)="cerrarModalRegistro()" class="btn btn-outline-dark">X</button>
      </div>
    </div>
    <form class="mt-1" [formGroup]="formRegistro">
      <div class="row">
        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <input id="nombre" type="text" [(ngModel)]="nombre" pInputText formControlName="nombre" (keyup)="this.envioNombre=true">
              <label for="nombre">Nombre</label>
            </span>
          </div>
          <div class="d-flex justify-content-center" *ngIf="this.envioNombre">
              <span class="text-danger" *ngIf="this.formRegistro.get('nombre')?.errors?.['required']">Este campo no puede quedar vacío</span>
            </div>
          </div>


        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-autoComplete id="talla" [(ngModel)]="tallaseleccionada" [suggestions]="filtroTalla"
                (completeMethod)="filtrarTallas($event)" field="talla" [dropdown]="true" formControlName="talla" (keyup)="this.envioTalla=true">
                <ng-template let-c pTemplate="item">
                  <div>{{c.talla}}</div>
                </ng-template>
              </p-autoComplete>
              <label for="talla">Seleccione la talla</label>
            </span>
          </div>
          <div class="d-flex justify-content-center" *ngIf="this.envioTalla">
            <span class="text-danger" *ngIf="this.formRegistro.get('talla')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>

        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-inputNumber id="cantidad" type="text" [(ngModel)]="cantidad"  [min]="1" formControlName="cantidad" (keyup)="this.envioCantidad=true"></p-inputNumber>
              <label for="cantidad">Cantidad</label>
            </span>
          </div>

          <div class="d-flex justify-content-center" *ngIf="this.envioCantidad"> 
            <span class="text-danger" *ngIf="this.formRegistro.get('cantidad')?.errors?.['required']">Este campo no puede quedar vacío</span>
            <span class="text-danger" *ngIf="this.formRegistro.get('cantidad')?.errors?.['min']">Este campo no puede ser menor a 0</span>
          </div>
        </div>


        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-autoComplete id="categoria" [(ngModel)]="categoria" [suggestions]="filtroCategoria"
                (completeMethod)="filtrarCategoria($event)" field="nombre" [dropdown]="true" formControlName="categoria" (onKeyUp)="this.envioCategoria=true">
                <ng-template let-c pTemplate="item">
                  <div>{{c.nombre}}</div>
                </ng-template>
              </p-autoComplete>
              <label for="categoria">Seleccione la categoria</label>
            </span>
          </div>
          <div *ngIf="this.envioCategoria" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('categoria')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>


        <div class="col-lg-6 mb-3 mt-4 ">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <input id="referencia" type="text" [(ngModel)]="referencia" pInputText formControlName="referencia" (keyup)="this.envioReferencia=true">
              <label for="referencia">Referencia</label>
            </span>
          </div>
          <div *ngIf="this.envioReferencia" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('referencia')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>


        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-autoComplete id="proveedor" [(ngModel)]="proveedor" [suggestions]="filtroproveedor"
                (completeMethod)="filtrarProveedor($event)" field="nombre" [dropdown]="true" formControlName="proveedor"  (onKeyUp)="this.envioProveedor=true">
                <ng-template let-c pTemplate="item">
                  <div>{{c.nombre}}</div>
                </ng-template>
              </p-autoComplete>
              <label for="proveedor">Seleccione el proveedor</label>
            </span>
          </div>
          
          <div *ngIf="this.envioProveedor" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('referencia')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>


        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-inputNumber id="preciounidad" type="text" [(ngModel)]="preciounidad" [min]="1" 
                formControlName="precioporunidad" (keyup)="this.envioPrecio=true"></p-inputNumber>
              <label for="preciounidad">Precio por unidad</label>
            </span>
          </div>

          <div *ngIf="this.envioProveedor" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('precioporunidad')?.errors?.['required']">Este campo no puede quedar vacío</span>
            <span class="text-danger" *ngIf="this.formRegistro.get('precioporunidad')?.errors?.['min']">Este campo no puede ser menor o igual a 0</span>
          </div>
        </div>

        <div class="col-lg-12 mt-4">
          <div class="d-flex justify-content-center">
            <input type="file" [(ngModel)]="imagen" (change)="capturarImagen($event)" formControlName="foto">
          </div>
          <div *ngIf="this.envioProveedor" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('foto')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>
        <div class="col-lg-12" *ngIf="base64">
          <button (click)='imagen=""; base64=""'>Quitar imagen</button>
        </div>
        <div class="col-lg-12 mt-4 d-flex justify-content-center" *ngIf="base64">
          <img [src]="base64" class="imagen3">
        </div>
        <div class="col-lg-12 mt-4 d-flex justify-content-center">
          <button type="submit" pButton (click)="registrarProducto()">Enviar</button>
        </div>
      </div>

    </form>
  </p-dialog>
</div>

<div class="container">
  <p-dialog [(visible)]="modalimagen" [modal]="true" [draggable]="false" [style]="{width: '42vw'}" [breakpoints]="{'960px': '60vw'}">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <h1 class="text-center">{{nombreimagen}}</h1>
      </div>
      <div class="col-lg-12 d-flex justify-content-center">
        <img [src]="base64" class="imagen2">
      </div>
    </div>
  </p-dialog>
</div>

<div class="container">
  <p-dialog [(visible)]="modalEdicion" [modal]="true" [draggable]="false" [style]="{width: '42vw'}"
    [closable]="false" [breakpoints]="{'960px': '60vw'}">
    <div class="row">
      <div class="col-11 d-flex justify-content-center">
        <h3>Actualización de un producto</h3>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <button (click)="cerrarModalRegistro()" class="btn btn-outline-dark">X</button>
      </div>
    </div>
    <form class="mt-1" [formGroup]="formEdicion">
      <div class="row">
        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <input id="nombre" type="text" [(ngModel)]="nombre" pInputText formControlName="nombre" (keyup)="this.envioNombre=true">
              <label for="nombre">Nombre</label>
            </span>
          </div>
          <div class="d-flex justify-content-center" *ngIf="this.envioNombre">
              <span class="text-danger" *ngIf="this.formRegistro.get('nombre')?.errors?.['required']">Este campo no puede quedar vacío</span>
            </div>
          </div>


        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-autoComplete id="talla" [(ngModel)]="tallaseleccionada" [suggestions]="filtroTalla"
                (completeMethod)="filtrarTallas($event)" field="talla" [dropdown]="true" formControlName="talla" (keyup)="this.envioTalla=true">
                <ng-template let-c pTemplate="item">
                  <div>{{c.talla}}</div>
                </ng-template>
              </p-autoComplete>
              <label for="talla">Seleccione la talla</label>
            </span>
          </div>
          <div class="d-flex justify-content-center" *ngIf="this.envioTalla">
            <span class="text-danger" *ngIf="this.formRegistro.get('talla')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>

        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-inputNumber id="cantidad" type="text" [(ngModel)]="cantidad"  [min]="1" formControlName="cantidad" (keyup)="this.envioCantidad=true"></p-inputNumber>
              <label for="cantidad">Cantidad</label>
            </span>
          </div>

          <div class="d-flex justify-content-center" *ngIf="this.envioCantidad"> 
            <span class="text-danger" *ngIf="this.formRegistro.get('cantidad')?.errors?.['required']">Este campo no puede quedar vacío</span>
            <span class="text-danger" *ngIf="this.formRegistro.get('cantidad')?.errors?.['min']">Este campo no puede ser menor a 0</span>
          </div>
        </div>


        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-autoComplete id="categoria" [(ngModel)]="categoria" [suggestions]="filtroCategoria"
                (completeMethod)="filtrarCategoria($event)" field="nombre" [dropdown]="true" formControlName="categoria" (onKeyUp)="this.envioCategoria=true">
                <ng-template let-c pTemplate="item">
                  <div>{{c.nombre}}</div>
                </ng-template>
              </p-autoComplete>
              <label for="categoria">Seleccione la categoria</label>
            </span>
          </div>
          <div *ngIf="this.envioCategoria" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('categoria')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>


        <div class="col-lg-6 mb-3 mt-4 ">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <input id="referencia" type="text" [(ngModel)]="referencia" pInputText formControlName="referencia" (keyup)="this.envioReferencia=true">
              <label for="referencia">Referencia</label>
            </span>
          </div>
          <div *ngIf="this.envioReferencia" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('referencia')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>


        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-autoComplete id="proveedor" [(ngModel)]="proveedor" [suggestions]="filtroproveedor"
                (completeMethod)="filtrarProveedor($event)" field="nombre" [dropdown]="true" formControlName="proveedor"  (onKeyUp)="this.envioProveedor=true">
                <ng-template let-c pTemplate="item">
                  <div>{{c.nombre}}</div>
                </ng-template>
              </p-autoComplete>
              <label for="proveedor">Seleccione el proveedor</label>
            </span>
          </div>
          
          <div *ngIf="this.envioProveedor" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('referencia')?.errors?.['required']">Este campo no puede quedar vacío</span>
          </div>
        </div>


        <div class="col-lg-6 mb-3 mt-4">
          <div class="d-flex justify-content-center">
            <span class="p-float-label">
              <p-inputNumber id="preciounidad" type="text" [(ngModel)]="preciounidad" [min]="1" 
                formControlName="precioporunidad" (keyup)="this.envioPrecio=true"></p-inputNumber>
              <label for="preciounidad">Precio por unidad</label>
            </span>
          </div>

          <div *ngIf="this.envioProveedor" class="d-flex justify-content-center">
            <span class="text-danger" *ngIf="this.formRegistro.get('precioporunidad')?.errors?.['required']">Este campo no puede quedar vacío</span>
            <span class="text-danger" *ngIf="this.formRegistro.get('precioporunidad')?.errors?.['min']">Este campo no puede ser menor o igual a 0</span>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-4 d-flex justify-content-center">
        <button type="submit" pButton (click)="actualizarProducto()">Actualizar</button>
      </div>
    </form>
  </p-dialog>
</div>



<p-dialog [modal]="true" [closable]="false" [visible]="timer">
  <h5>Cargando datos</h5>
  <p-progressBar mode="indeterminate" [style]="{'height': '20px'}"></p-progressBar>
</p-dialog>
