<div class="container-fluid">
  <div class="row me-1 ms-1">
    <div class="col-md-7">
      <button (click)="generarReporte()">Reporte PDF</button>
      <button type="button" (click)="abrirmodalRegistro()" icon="pi pi-info-circle">Registrar</button>
      <p-table [value]="this.listaProductos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        currentPageReportTemplate="Viendo {first} de {last} registros, {totalRecords} registros en total"
        [rowsPerPageOptions]="[10,25,50]" [resizableColumns]="true" columnResizeMode="expand"
        styleClass="p-datatable-gridlines p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <p-autoComplete field="nombre" [(ngModel)]="buscador" (completeMethod)="filtro(buscador)">
              </p-autoComplete>
              <button type="submit" (click)="buscarProductos()">Reiniciar</button>
            </span>
            <button type="submit" (click)="exportExcel()">Exportar a Excel</button>
            <input type="file" [(ngModel)]="excel"(change)="readExcel($event)">
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>ID <p-columnFilter type="text" field="id_producto" display="menu"></p-columnFilter>
            </th>
            <th>Nombre<p-columnFilter type="text" field="nombre" display="menu"></p-columnFilter>
            </th>
            <th>Categoria<p-columnFilter type="text" field="type.nombre" display="menu"></p-columnFilter>
            </th>
            <th>Cantidad<p-columnFilter type="text" field="quantity" display="menu"></p-columnFilter>
            </th>
            <th>Referencia<p-columnFilter type="text" field="reference" display="menu"></p-columnFilter>
            </th>
            <th>Talla<p-columnFilter type="text" field="size" display="menu"></p-columnFilter>
            </th>
            <th>Precio por unidad<p-columnFilter type="text" field="price" display="menu"></p-columnFilter>
            </th>
            <th>Precio total<p-columnFilter type="text" field="precioTotal" display="menu"></p-columnFilter>
            </th>
            <th>Fecha de entrada<p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
            </th>
            <th>Proveedor<p-columnFilter type="text" field="proveedor.nombre" display="menu"></p-columnFilter>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
          <tr>
            <td>{{producto.id_producto}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.type.nombre}}</td>
            <td>{{producto.quantity}}</td>
            <td>{{producto.reference}}</td>
            <td>{{producto.size}}</td>
            <td>{{producto.price}}</td>
            <td>{{producto.precioTotal}}</td>
            <td>{{producto.date}}</td>
            <td>{{producto.proveedor.nombre}}</td>
            <td class="d-flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success ms-2 me-2"
                (click)="buscarProductoPorId(producto.id_producto)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="borrarProducto(producto.id_producto)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-md-5" id="grafico">
      <canvas id="myChart" height="500"></canvas>
    </div>
  </div>
</div>

<!-- Formulario para el registro de productos -->
<div class="container">
  <p-dialog [(visible)]="modalRegistro" [modal]="true" [draggable]="false" [style]="{width: '50vw',height: '70vw'}"
    [closable]="false">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button (click)="cerrarModalRegistro()" class="btn btn-outline-dark">X</button>
      </div>
    </div>
    <form class="mt-5">
      <span class="p-float-label">
        <p-autoComplete id="categoria" [(ngModel)]="categoria" [suggestions]="filtroCategoria"
          (completeMethod)="filtrarCategoria($event)" field="nombre" [dropdown]="true"
          [ngModelOptions]="{standalone: true}">
          <ng-template let-c pTemplate="item">
            <div>{{c.nombre}}</div>
          </ng-template>
        </p-autoComplete>
        <label for="categoria">Seleccione la categoria</label>
      </span><br>

      <span class="p-float-label">
        <p-autoComplete id="talla" [(ngModel)]="tallaseleccionada" [suggestions]="filtroTalla"
          (completeMethod)="filtrarTallas($event)" field="talla" [dropdown]="true"
          [ngModelOptions]="{standalone: true}">
          <ng-template let-c pTemplate="item">
            <div>{{c.talla}}</div>
          </ng-template>
        </p-autoComplete>
        <label for="talla">Seleccione la talla</label>
      </span><br>


      <span class="p-float-label">
        <p-autoComplete id="proveedor" [(ngModel)]="proveedor" [suggestions]="filtroproveedor"
          (completeMethod)="filtrarProveedor($event)" field="nombre" [dropdown]="true"
          [ngModelOptions]="{standalone: true}">
          <ng-template let-c pTemplate="item">
            <div>{{c.nombre}}</div>
          </ng-template>
        </p-autoComplete>
        <label for="proveedor">Seleccione el proveedor</label>
      </span><br>

      <span class="p-float-label">
        <input id="nombre" type="text" [(ngModel)]="nombre" pInputText [ngModelOptions]="{standalone: true}">
        <label for="nombre">Nombre</label>
      </span>
      <span class="p-float-label">
        <input id="referencia" type="text" [(ngModel)]="referencia" pInputText [ngModelOptions]="{standalone: true}">
        <label for="referencia">Referencia</label>
      </span>
      <span class="p-float-label">
        <input id="cantidad" type="text" [(ngModel)]="cantidad" pInputText [ngModelOptions]="{standalone: true}">
        <label for="cantidad">Cantidad</label>
      </span>
      <span class="p-float-label">
        <input id="preciounidad" type="text" [(ngModel)]="preciounidad" pInputText
          [ngModelOptions]="{standalone: true}">
        <label for="preciounidad">Precio por unidad</label>
      </span>


      <button type="submit" (click)="registrarProducto()">Enviar</button>
    </form>
  </p-dialog>
</div>


<!-- Formulario para edición de datos -->
<div class="container">
  <p-dialog [closable]="false" [(visible)]="modalActualizacion" [modal]="true" [draggable]="false"
    [style]="{width: '50vw',height: '70vw'}">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button (click)="cerrarModalActualizacion()" class="btn btn-outline-dark">X</button>
      </div>
    </div>
    <form class="mt-5">
      <span class="p-float-label">
        <p-autoComplete id="categoria" [(ngModel)]="categoria" [suggestions]="filtroCategoria"
          (completeMethod)="filtrarCategoria($event)" field="nombre" [dropdown]="true"
          [ngModelOptions]="{standalone: true}">
          <ng-template let-c pTemplate="item">
            <div>{{c.nombre}}</div>
          </ng-template>
        </p-autoComplete>
        <label for="categoria">Seleccione la categoria</label>
      </span><br>

      <span class="p-float-label">
        <p-autoComplete id="talla" [(ngModel)]="tallaseleccionada" [suggestions]="filtroTalla"
          (completeMethod)="filtrarTallas($event)" field="talla" [dropdown]="true"
          [ngModelOptions]="{standalone: true}">
          <ng-template let-c pTemplate="item">
            <div>{{c.talla}}</div>
          </ng-template>
        </p-autoComplete>
        <label for="talla">Seleccione la talla</label>
      </span><br>


      <span class="p-float-label">
        <p-autoComplete id="proveedor" [(ngModel)]="proveedor" [suggestions]="filtroproveedor"
          (completeMethod)="filtrarProveedor($event)" field="nombre" [dropdown]="true"
          [ngModelOptions]="{standalone: true}">
          <ng-template let-c pTemplate="item">
            <div>{{c.nombre}}</div>
          </ng-template>
        </p-autoComplete>
        <label for="proveedor">Seleccione el proveedor</label>
      </span><br>

      <span class="p-float-label">
        <input id="nombre" type="text" [(ngModel)]="nombre" pInputText [ngModelOptions]="{standalone: true}">
        <label for="nombre">Nombre</label>
      </span>
      <span class="p-float-label">
        <input id="referencia" type="text" [(ngModel)]="referencia" pInputText [ngModelOptions]="{standalone: true}">
        <label for="referencia">Referencia</label>
      </span>
      <span class="p-float-label">
        <input id="cantidad" type="text" [(ngModel)]="cantidad" pInputText [ngModelOptions]="{standalone: true}">
        <label for="cantidad">Cantidad</label>
      </span>
      <span class="p-float-label">
        <input id="preciounidad" type="text" [(ngModel)]="preciounidad" pInputText
          [ngModelOptions]="{standalone: true}">
        <label for="preciounidad">Precio por unidad</label>
      </span>


      <button type="submit" (click)="actualizarProducto()">Enviar</button>
    </form>
  </p-dialog>
</div>
