<div class="container-fluid fondo">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler bg-white mb-2" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container-fluid fondo2 shadow-sm">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <div class="row m-3">
                                <div class="col-lg-4">
                                    <li class="nav-item">
                                        <button class="button" (click)="irlogin()">
                                            Inicio de sesión
                                        </button>
                                    </li>
                                </div>
                                <div class="col-lg-4">
                                    <li class="nav-item">
                                        <button class="button" (click)="this.modalQuienesSomos=true">
                                            ¿Quienes somos?
                                        </button>
                                    </li>
                                </div>
                                <div class="col-lg-3">
                                    <li class="nav-item">
                                        <button class="button">
                                            ¡Contactanos!
                                        </button>
                                    </li>
                                </div>
                                
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-12 d-flex justify-content-center align-items-center mt-5">
            <h1 class="mt-5 texto2">Bienvenidos al Gran Madrugón</h1>
        </div>
        <div class="col-lg-12 mt-5 d-flex justify-content-center">
            <button class="rounded-circle border border-primary btn-primary texto btn m-5" (click)="irlogin()">Ingresar</button>
        </div>
    </div>
</div>

<div class="container">
    <p-dialog [(visible)]="modalQuienesSomos" [modal]="true" [draggable]="false" [style]="{width: '42vw'}"
        [breakpoints]="{'960px': '60vw'}">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="card">
                    Hola
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="card">
                    Hola
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
                <div class="card">
                    Hola
                </div>
            </div>
        </div>
    </p-dialog>
</div>